<div id="myDiv"></div>
<a class="button  button_right button_size_2 button_theme button_js kill_the_icon">
    <span class="button_icon"><i class="fas fa-cart-arrow-down" style="color: white;"></i></span>
    <span id="buyButton" class="button_label">COMPRAR CON TARJETA</span>
</a>

<input type="hidden" id="publicKey" value="{{public_Key}}">
<input type="hidden" id="title" value="{{record.nombre}}">
<input type="hidden" id="currency" value="PEN">
<input type="hidden" id="description" value="{{record.resumen}}">
<input type="hidden" id="amount" value="{{record.precio}}">




